
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Websockets Client</title>
    <link href="/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <main id="v-app">
        <section class="alerts">
            <alerts-component :items="alerts"></alerts-component>
        </section>
        <section class="chat">
            <h1 style="text-align: center;">Websockets Tester</h1>
            <form>
                <!-- <button type="submit" @click.prevent="sendChatMessage()">Send</button> -->
            </form>
            <!-- Tabs -->
            <div class="tab-row" style="text-align: center;">
                Status: {{ this.joined ? 'Joined' : 'NOT Joined' }} <button @click="toggleRoomMembership()">{{ this.joined ? 'Leave' : 'Join' }}</button>
            </div>
            <p>
                <ul style="display: flex;
                            flex-direction: row;
                            flex: 1;
                            margin: 50px;
                            justify-content: space-evenly;">
                    <li v-for="pokemon of pokemons[activeRoom]" style="list-style: none;">
                        <div>
                            <h2 style="text-transform: capitalize;" >{{ pokemon?.name }}</h2>
                            <img v-bind:src="pokemon?.image" width="150px" alt="" srcset="">
                            <ul style="display: flex;
                                flex-direction: row;
                                flex: 1;
                                margin: 50px;
                                justify-content: space-evenly;">
                                <li v-for="pokemonIndex of pokemon.moves" style="list-style: none;">
                                    <button  :disabled="isDisabled" v-bind:data-ability="pokemonIndex.name">{{pokemonIndex.name}}- PP: {{pokemonIndex.pp}}</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </p>
            <div class="card">
                <div id="messages" class="card-block">
                    <ul>
                        <li v-for="message of messages">{{ message.name }}: {{ message.text }}</li>
                    </ul>
                </div>
            </div>
            <br>
            <label for="textarea">Message:</label>
            <textarea id="textarea" class="form-control" v-model="text" placeholder="Enter message..."></textarea>
            <br>
            <button id="send" class="btn" @click.prevent="sendMessage">Send</button>
            <!-- /Tabs -->
        </section>
    </main>
    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                text: '',
                id: null,
                pokemons: {
                    general: [],
                },
                socket: { fight: null },
                alerts: [],
                activeRoom: 'general',
                joined: false,
                ready: false,
                messages: [],
            },
            computed: {
                isDisabled() {
                    // you can  check your form is filled or not here.
                    return !this.ready;
                },
            },
            methods: {
                sendChatMessage() {
                    if (this.isMemberOfActiveRoom) {
                        this.socket.pokemon.emit('pokemonFight', { sender: this.username, room: this.activeRoom, message: this.text });
                        this.text = "";
                    } else {
                        alert('You must join the room before sending messages!');
                    }
                },
                receiveChatMessage(msg) {
                    this.messages[msg.room].push(msg);
                },
                receiveAlertMessage(msg) {
                    this.alerts.push(msg);
                },
                toggleRoomMembership() {
                    if (this.joined) {
                        this.socket.pokemon.emit('leaveRoom');
                    } else {
                        this.socket.pokemon.emit('joinRoom', {room: this.activeRoom, pokemon: {id: Math.ceil(Math.random() * 150 + 1), selectedMoves: [1,2,3,4]}, });
                    }
                },
                sendMessage() {
                if(this.validateInput()) {
                    const message = {
                        name: this.username,
                        text: this.text,
                    };
                    this.socket.pokemon.emit('msgToServer', message);
                    this.text = '';
                }
                },
                receivedMessage(message) {
                    this.messages.push(message)
                },
                validateInput() {
                    return this.username.length > 0 && this.text.length > 0
                },
            },
            created() {
                this.username = prompt('Enter your username:');

                this.socket.pokemon = io('http://localhost:3000/');

                //TODO: divide sockets pokemon and chat
                this.socket.pokemon.on('msgToClient', (message) => {
                    console.log(message);
                    this.receivedMessage(message)
                });
                this.socket.pokemon.on('connect', () => {
                    this.toggleRoomMembership();
                });
                this.socket.pokemon.on('joinedRoom', (data) => {
                    this.joined = true;
                    this.pokemons[data.room] = []
                    this.pokemons[data.room].push(data.user.pokemon)
                    this.id = data.user.userId
                    if(data.previousUser){
                        this.pokemons[data.room].push(data.previousUser.pokemon)
                        this.ready = true;
                    }
                });
                this.socket.pokemon.on('newOpponent', (data) => {
                    console.dir(data)
                    this.pokemons[data.room].push(data.pokemon)
                    console.dir(this.pokemons[data.room])
                    this.ready = true
                });
                this.socket.pokemon.on('leftRoom', (client) => {
                    this.joined = false;
                    this.pokemons[client.room] = this.pokemons[client.room].filter((el) => el.id !== client.pokemon.id)
                    this.ready = false
                });

            }
        });
    
    </script>
    <style>
        ul li:first-child {
            color: red;
            font-weight: bold;
        }
        #messages{
            height:300px;
            overflow-y: scroll;
        }
    </style>
</body>
</html>