@media all and (max-width:1024px) {
    html, body {
      margin-left: 0;
      padding-left: 0;
    }
}

#messages{
    height:300px;
    overflow-y: scroll;
   }
   
   #app {
    margin-top: 2rem;
   }

.pokemon {
    background-image: url('./images/battle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75vh;
    height: 100vh;
}